.botton{
    background-color: royalblue;
    color: wheat;
    padding: 10px 20px;
    font-size: 10px;
    border: none;
    border-radius: 8px;
    transition: background-color 0.13s ease-in-out;
}
.botton:hover{
    background-color: brown;
    cursor: pointer;
}